.section_5 {
    background-image: url('/images/bg-service-s5.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: var(--text-color);
    position: relative;
    h1 {
        font-family: Big Noodle Titling;
    }
}
.container {
    max-width: 1900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -4rem;
    left: 0%;
    right: -20%;
    /* img {
        width: 60%;
        height: 90%;
    } */
}
.contain_slider {
    max-width: 500px;
    background-color: red;
    height: 90%;
}
.header_slider {
    background-color: rgb(211, 2, 2);
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
}
.card_slider {
    overflow: hidden;
    height: 100%;
}
.items_slider {
    width: 300%;
    height: 100%;
    display: flex;
    & > div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h1 {
            text-align: center;
            border-bottom: #fff solid 2px ;
            border-top: #fff solid 2px ;
            line-height: 1.5;
        }
    }
}