.inputContainer {
  display: grid;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.inputsWrapper {
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1.65fr 1fr auto;
  column-gap: 1.35rem;

  .inputBox {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    position: relative;

    span.errorText {
      font-size: 0.8rem;
      color: #6a1e1e;
      letter-spacing: 0.2px;
      position: absolute;
      bottom: -55%;
    }
  }

  label {
    font-weight: 500;
    line-height: 1;
    font-size: 0.875rem;
  }

  input {
    box-sizing: border-box;
    border: none;
    font-family: Questrial;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    border-bottom: 1px dashed #d3d3d3;
    border-radius: 0;
    width: auto;
    transition: all 0.2s ease-in-out;

    &:focus {
      background-color: #fee;
      border-bottom: 1px dashed #ff3939;
      outline: none;
    }

    &[data-state="error"] {
      background-color: #fdf3f3;
      border-bottom: 1px dashed #a40404;
      outline: none;
      color: #000;
    }
  }
}

.trashButton {
  font-weight: 500;
  border-width: 1px;
  width: 2.5rem;
  border-radius: var(--button-radius);
}
