.modalSend {
  height: 400px;
  width: 600px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  pointer-events: var(--pointer-events);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;

  .formContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow: auto;
    flex-grow: 1;

    .input-group {
      width: 100%;
    }
    input {
      border-radius: 0px;
      border: none;
      border-bottom: 1px dashed #999999;
      height: 40px;
      width: 100%;
      font-family: Questrial;
      font-size: 16px;
      padding: 0 20px;
      box-sizing: border-box;

      &:focus {
        border-bottom: 1px dashed #ff3939;
        outline: none;
        background-color: #ffeeee;
      }
    }

    label {
      display: inline-flex;
      gap: 0.5em;
    }

    .required {
      color: #ff3939;
    }

    button {
      margin-top: auto;
      padding: 18px 23px;
      font-family: Questrial;
      font-size: 18px;
      width: 100%;
      max-width: none;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: visible;

      &:hover {
        scale: 1;
      }
    }
  }
}
