article.partneforFormContainer {
  background-color: var(--color-dark-blue-200);
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;

  @supports not (height: -webkit-fill-available) {
    height: -moz-available;
  }

  p {
    margin: 0;
    font-family: "Questrial";
  }
}

form.partnerForm {
  padding-block-start: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1.25rem;
  font-family: "Questrial";

  input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-dark-blue-100);
    transition: border-color 400ms ease;

    min-width: 50px;
    height: 30px;
    caret-color: #fff;
    color: #fff;
    padding-inline: 0.25rem;

    &:focus {
      border-color: var(--color-dark-blue-25);
    }
  }

  button {
    width: 140px;
    margin-inline: auto;
    background-color: var(--btn-color-main);
    border: none;
    color: #fff;
    font-size: var(--text-large);
    font-weight: 600;
    font-family: "Questrial";
    border-radius: 0.25rem;
    text-align: center;
    height: 55px;
    margin-block-start: 1.5rem;
    cursor: pointer;
    transition: all 400ms ease-in-out;

    &:disabled {
      cursor: default;
      opacity: 0.75;
    }
  }
}

.errorMessage {
  color: var(--text-color-alt4);
  font-size: 0.85rem;
  text-align: left;
  width: 100%;
}

@media screen and (min-width: 580px) {
  form.partnerForm {
    input {
      min-width: 400px;
      max-width: 80%;
    }
    button {
      margin-inline-end: auto;
      margin-inline-start: 0;
      margin-block-start: 2rem;
    }
  }
}

@media only screen and (min-width: 1470px) {
  article.partneforFormContainer {
    width: auto;
  }
  form.partnerForm {
    button {
      margin-block-start: 3rem;
    }
  }
}
