:root {
  --text-large: 18px;
  --text-small: 12px;
  --text-h2-normal: 38px;
  --text-h2-large: 58px;
  --text-color: #ffffff;
  --text-color-alt: #333333;
  --text-color-alt2: #ff7878;
  --text-color-alt3: #ff6464;
  --text-color-alt4: #ff3939;

  --btn-color-main: #ff2424;
  --btn-color-alt: #333333;

  --higlights-color-line: #6f2121;
  --highlights-color-bkg: #4c0b0b;

  --padding-general: 90px 3vw;
  //--margin-general: 8vw 0;
  --padding-top-sections: 90px;

  --section-alt-bkg: #f2f2f2;

  --mobile-breakpoint: 768px;

  @media screen and (max-width: 820px) {
    --padding-general: 90px 30px;
  }
}

@font-face {
  font-family: Questrial;
  font-style: normal;
  font-weight: 400;
  src: local("Questrial-Regular"),
    url("../assets/fonts/Questrial-Regular.ttf") format("truetype");
}

html {
  font-size: 16px;
  scroll-behavior: smooth;

  @media screen and (max-width: 820px) {
    font-size: 14px;
  }
}

body {
  font-family: Questrial;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #b71c1c;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ef5350;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  margin: 0px;
  line-height: 1.1;
}

h2 {
  font-size: var(--text-h2-large);
  font-weight: normal;
  margin: 0px;
}

p {
  line-height: 25px;
}

img {
  max-width: 100%;
  width: auto;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

b {
  color: var(--text-color-alt3);
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: var(--padding-general);
  position: relative;

  .container {
    max-width: 1900px;
    margin: 0 auto;
    z-index: 5;
  }
}

header + section {
  padding-top: 170px;
  margin-top: -75px;
}

@media screen and (max-width: 768px) {
  header + section {
    padding-top: 20vh;
  }
}

@media screen and (max-width: 1030px) {
  h1 {
    min-height: 90px;
    font-size: 36px;
    line-height: 0.8;
  }
}

///////////////////////////////////////////////////////////////////
// header
//////////////////////////////////////////////////////////////////
header.header {
  background-color: rgba(0, 0, 0, 0.4);
  position: sticky;
  width: 100%;
  top: 20px;
  z-index: 1000;
  color: #ffffff;

  .container {
    max-width: 1900px;
    display: flex;
    justify-content: space-between;
    padding: 15px 3vw;
    margin: 0 auto;

    .brand {
      display: flex;
      align-items: center;

      img {
        z-index: 1;
        height: 40px;
      }
    }

    button {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
    }

    .navigate {
      display: flex;
      align-items: center;
      gap: 1vw;
      transition: right 0.4s;

      li {
        a {
          font-size: 16px;
          font-weight: 800;
          padding: 0.5vw;
          display: block;

          &.active {
            color: var(--text-color-alt2);
          }
        }

        &:hover {
          color: var(--text-color-alt2);
          box-shadow: 0 2px 0 var(--text-color-alt2);
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 1vw;
    }
  }

  @media screen and (max-width: 820px) {
    top: 10px;

    .container {
      position: relative;
      max-width: 90%;

      .brand {
        z-index: 20;

        img {
          height: 30px;
        }
      }

      button {
        display: block;
        z-index: 20;

        svg {
          height: 25px;
          width: 25px;
        }
      }

      .navigate {
        flex-direction: column;
        align-items: center;
        position: fixed;
        right: -120%;
        top: 0px;
        background: rgb(148, 28, 37);
        background: linear-gradient(
          0deg,
          rgba(148, 28, 37, 1) 24%,
          rgba(255, 42, 57, 1) 100%
        );
        width: 100vw;
        height: 90vh;
        padding: 120px 0 0 0px;

        li {
          width: 100%;
          padding: 20px;
          text-align: center;
          border-bottom: 1px solid #ff3a47;

          &:first-child {
            border-top: 1px solid #ff3a47;
          }
        }
      }

      .menu {
        display: none;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// hero - section 1
//////////////////////////////////////////////////////////////////
section.hero {
  background-image: url("../../public/assets/images/bkg-sand.webp");
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #000000;
  background-size: cover;
  color: #ffffff;
  position: relative;
  padding: 3vw;
  max-width: 100vw;
  min-height: 700px;
  height: 85vh;
  // max-height: 100vh;
  overflow: hidden;
  z-index: 5;

  .content {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    z-index: 10;
    min-height: 600px;

    .copy {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 153px;
      font-size: var(--text-large);
      line-height: 34px;

      //max-width: 600px;
      //z-index: 9;
      b {
        color: var(--text-color-alt2);
      }
    }

    .image {
      flex: 1;
      display: flex;
      justify-content: center;
      z-index: 9;

      img {
        max-height: 600px;
      }
    }
  }

  .bkg-2 {
    opacity: 0.8;
    height: 362px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 3;
  }

  .features {
    height: 38px;
    min-width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #dc271994;
    border-top: 1px solid #a77a7a;
    border-bottom: 1px solid #a77a7a;
    z-index: 11;
    white-space: nowrap;
    display: flex;

    ul {
      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 0px;
      animation: 15s slide infinite linear;
      white-space: nowrap;

      li {
        display: flex;
        align-items: center;
        padding: 0 34px;
        font-size: var(--text-small);
        border-right: 1px solid #a77a7a;
        height: 38px;
        text-transform: uppercase;
      }

      @keyframes slide {
        from {
          transform: translateX(0);
        }

        to {
          transform: translateX(-100%);
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    background-position: bottom left 60%;
    //background-size: 100vh;
    background-size: 175%;

    .bkg-2 {
      height: 400px;
      bottom: auto;
      top: 90px;
    }

    .header {
      align-items: center;

      .brand {
        img {
          width: 170px;
        }

        &::before {
          bottom: 0;
          height: 2px;
        }
      }

      .menu {
        column-gap: 4px;
        margin-right: -15px;
      }
    }

    .content {
      flex-direction: column;
      justify-content: space-between;
      padding-top: 50px;

      .copy {
        padding-bottom: 10px;

        h1 {
          min-height: 110px;
        }
      }
    }
  }

  @media screen and (max-width: 1030px) {
    .content {
      padding-top: 70px;

      .copy {
        padding-bottom: 25px;

        h1 {
          min-height: 80px;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// highlights - section 2
//////////////////////////////////////////////////////////////////
section.highlights {
  background-color: var(--highlights-color-bkg);
  overflow: hidden;
  padding: 0px 3vw;

  ul {
    display: flex;

    li {
      color: var(--text-color);
      border-right: 1px solid var(--higlights-color-line);
      padding: 70px 3vw 100px 3vw;

      h2 {
        color: var(--text-color-alt2);
      }
    }
  }

  @media screen and (max-width: 768px) {
    ul {
      flex-direction: column;

      li {
        border-right: none !important;
        border-bottom: 1px solid var(--higlights-color-line);
        padding: 5vh 0;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// main-differences - section 3
//////////////////////////////////////////////////////////////////
section.main-differences {
  background-color: var(--section-alt-bkg);

  overflow: hidden;

  .container {
    position: inherit;
  }

  .copy {
    padding-bottom: 30px;

    p {
      max-width: 800px;
    }
  }

  .bkg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f6f6f6;
    background: linear-gradient(
      90deg,
      rgba(246, 246, 246, 1) 0%,
      rgba(246, 246, 246, 1) 53%,
      rgba(255, 255, 255, 1) 53%,
      rgba(255, 255, 255, 1) 100%
    );
    height: 75%;
    z-index: 4;
  }

  .c-2 {
    display: flex;
    column-gap: 5vw;

    .image {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 80px 0px;

      img {
        max-width: 45vw;
        box-shadow: 0 0 15px #dedede;
      }
    }

    .list {
      flex: 0.78;
      padding: 60px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      ul {
        max-width: 30vw;
      }

      .item {
        display: flex;
        align-items: center;
        column-gap: 3vw;

        div {
          border-radius: 40px;
          padding: 10px;
          position: relative;
          background: transparent;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          &::before {
            content: "";
            position: absolute;
            width: 120%;
            height: 120%;
            background-image: conic-gradient(
              var(--btn-color-main) 20deg,
              transparent 200deg
            );
            animation: borderAnimation 3s linear infinite;
          }

          &::after {
            content: "";
            inset: 4px;
            position: absolute;
            border-radius: 50px;
            background-color: #fff;
          }

          @keyframes borderAnimation {
            0% {
              transform: rotate(360deg);
            }

            100% {
              transform: rotate(0deg);
            }
          }
        }

        img {
          flex: 0.3 0;
          flex-grow: 0;
          z-index: 10;
          width: auto;
          height: auto;
        }

        p {
          flex: 1.7;
        }
      }

      .buttons {
        display: flex;
        column-gap: 25px;
        margin-top: 50px;
      }
    }
  }

  @media screen and (max-width: 1030px) {
    padding-bottom: 70px;

    .c-2 {
      flex-direction: column;

      .image {
        padding: 20px 0px;

        img {
          max-width: 100%;
        }
      }

      .list {
        padding: 0px;
        flex: 1;

        ul {
          max-width: 100%;

          .item {
            column-gap: 25px;

            img {
              max-width: 35px;
            }
          }
        }

        .buttons {
          column-gap: 15px;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// our software
//////////////////////////////////////////////////////////////////
section.our-software {
  background-image: url("../../public/assets/images/bkg-soft.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #000000;
  z-index: 1;
  position: relative;
  overflow: hidden;

  .copy {
    padding-bottom: 30px;
    color: var(--text-color);

    p {
      max-width: 800px;
    }
  }

  .image {
    text-align: center;

    img {
      height: 100%;
      width: 85%;
    }
  }

  .items {
    display: flex;
    column-gap: 45px;
    padding: 45px 45px 0px 45px;
    justify-content: center;

    .item:first-child {
      text-align: end;
      max-width: 542px;
      color: #fff;
    }

    .item {
      max-width: 542px;
      color: #fff;
    }
  }

  @media screen and (max-width: 768px) {
    background-position: 53% -680px;

    .image {
      img {
        height: 100%;
        width: 100%;
      }
    }

    .items {
      flex-direction: column;
      padding: 20px 0px;
      color: var(--text-color);
      text-shadow: 0 0 8px #000000;

      .item {
        &:first-child {
          text-align: left;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// features
//////////////////////////////////////////////////////////////////
section.features {
  overflow: hidden;
  background: rgb(34, 34, 34);
  background: linear-gradient(
    0deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: #f2f2f2;
  padding: 0;

  .container {
    max-width: 2400px;
  }

  h2 {
    font-size: var(--text-h2-large);
    margin-bottom: 90px;
    text-align: center;
  }

  .contain-columns {
    //overflow: hidden;
    margin-bottom: 120px;
    display: flex;
    gap: 1vw;

    .column {
      &:first-child {
        flex: 1;
        //flex: 2;
      }

      &:nth-child(2) {
        position: relative;
        max-width: 700px;
        flex: 1;

        img {
          max-height: 85%;
        }
      }

      div {
        max-width: 1000px;
        margin: 0 1vw;

        h3 {
          font-size: 25px;
        }

        p {
          min-height: 100px;
        }
      }

      .right {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 820px) {
    .contain-columns {
      display: flex;
      flex-direction: column;

      .column {
        &:nth-child(2) {
          max-width: none;
          .right {
            position: initial;
            margin: auto;
            height: 90%;
          }
        }

        div {
          width: 95%;
          margin: auto;

          .subtitle_features {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 3rem !important;
              height: 3rem !important;
            }
          }

          h3 {
            font-size: 25px;
          }
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// our services - section 6
//////////////////////////////////////////////////////////////////
section.our-services {
  background-color: #f2f2f2;
  background-image: url("../public/assets/images/bkg-white.webp");
  // background-position: bottom left;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .copy {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .list {
    display: flex;
    max-width: 1160px;
    margin: 50px auto 0px auto;
    column-gap: 150px;
    overflow: hidden;

    .item {
      margin-bottom: 50px;
    }

    .left {
      flex: 1;
      text-align: right;
      position: relative;

      .line {
        width: 1px;
        background-color: red;
        height: 90%;
        position: absolute;
        top: 20px;
        right: -40px;
      }
    }

    .right {
      flex: 1;
      position: relative;

      .line {
        width: 1px;
        background-color: red;
        height: 90%;
        position: absolute;
        top: 20px;
        left: -40px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    // background-position: bottom left;
    // background-size: contain;
    margin-left: 0;
    margin-right: 0;
    padding-top: var(--padding-top-sections);

    .copy {
      text-align: left;
    }

    .list {
      flex-direction: column;
      margin: 20px 0px;

      .item {
        margin-bottom: 20px;
      }

      .left {
        text-align: left;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// prices - section 7
//////////////////////////////////////////////////////////////////
section.prices {
  color: #fff;
  background-color: rgba(206, 204, 204, 0.8);
  overflow-x: hidden;
  background-image: url("../assets/images/bkg-sand-red.jpg");
  background-size: cover;

  .paragraph-color {
    color: var(--text-color-alt2);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top {
    text-align: center;
    max-width: 900px;

    h2 {
      font-size: 3em;
      text-transform: lowercase;
      margin-bottom: 30px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1vh;

    button {
      color: #777777;
      padding: 10px 20px;
      font-size: 24px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      margin: 0;
      cursor: pointer;
      transition: 0.1s ease-in all;
      transform: scale(1);
      font-family: Questrial;

      span {
        color: #fff;
        pointer-events: none;
      }

      hr {
        height: 1px;
        border: none;
        background-color: #d6d6d6;
      }

      &.active {
        hr {
          background-color: var(--text-color-alt3);
        }

        color: var(--text-color-alt3);
      }
    }
  }

  .slides {
    overflow: hidden;
    width: 100vw;

    .items {
      display: flex;
      flex-wrap: nowrap;
      width: 200vw;
      transition: all 1000ms;

      .contain {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center;

        h4 {
          margin: auto;
          font-size: 35px;
        }

        hr {
          color: var(--btn-color-main);
          width: 90%;
          margin-bottom: 30px;
        }

        .card-contain {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 3em;
          padding-top: 120px;

          .card {
            max-height: 570px;
            max-width: 400px;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 30px 45px;
            display: flex;
            flex-direction: column;
            gap: 2em;
            transition: transform 0.3s;
            box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 1);

            // &:hover{
            //   transform: scale(1.02);
            //     img{
            //       transform: rotate(180deg);
            //     }
            // }

            h3 {
              font-size: 2em;
              margin: 0;
              color: var(--text-color-alt3);
            }

            ul {
              line-height: 1.7em;

              li {
                padding: 4px 0;
                border-bottom: 1px dashed #990000;

                &:nth-last-child(1) {
                  border-bottom: none;
                }

                img {
                  margin-right: 1vh;
                  position: relative;
                  bottom: -4px;
                  display: block;
                  float: left;
                }
              }
            }

            .price {
              display: flex;
              gap: 2em;
              position: relative;

              h4 {
                color: var(--text-color-alt3);
                margin: 0;
                font-size: 3em;
              }

              p {
                margin: 0;
              }

              img {
                position: relative;
                top: -10px;
                width: 80px;
                height: 80px;
                transition: transform 1s;

                &:hover {
                  transform: rotate(180deg);
                }
              }
            }

            button {
              border: none;
              background: var(--text-color-alt4);
              padding: 1em;
              max-width: 13em;
              margin-right: auto;
              cursor: pointer;
              font-family: Questrial;
              color: #fee;
              font-size: 18px;
              border-radius: 3px;
            }
          }

          .card:nth-child(2) {
            border: 8px solid var(--text-color-alt3);
            position: relative;

            &:before {
              content: "Most selected service";
              outline: 8px solid var(--text-color-alt3);
              font-weight: normal;
              padding: 8px 0;
              position: absolute;
              top: -30px;
              left: 0;
              width: 100%;
              background-color: var(--text-color-alt3);
            }
          }

          .card:nth-child(3) {
            border: 8px solid var(--text-color-alt3);
            position: relative;

            &:before {
              content: "Advanced red team operations.";
              outline: 8px solid var(--text-color-alt3);
              font-weight: normal;
              padding: 8px 0;
              position: absolute;
              top: -30px;
              left: 0;
              width: 100%;
              background-color: var(--text-color-alt3);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .card-contain {
      gap: 5;

      .card {
        gap: 2em;

        .price {
          justify-content: center;
          text-align: center;
          gap: 1em;
        }

        button {
          margin: auto;
        }
      }

      padding: 50px 0;
    }
  }
}

///////////////////////////////////////////////////////////////////
// contact - section 6
//////////////////////////////////////////////////////////////////
.contact {
  background-image: url("../assets/images/cellphones.webp");
  background-position: 70% bottom;
  background-size: 733px;
  background-repeat: no-repeat;
  min-height: 670px;
  position: relative;
  margin: 0px 0px 130px 0px;
  background-color: #e2e2e2;

  .copy {
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: left !important;
    max-width: 470px !important;
    width: 28vw !important;
    color: #555555;

    b {
      margin-bottom: 10px;
    }

    h2 {
      font-size: 65px;
    }
  }

  .contacts {
    display: flex;
    column-gap: 13px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    bottom: -130px;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;

    .item {
      background-color: #ffffff;
      flex: 1;
      display: flex;
      align-items: center;
      height: 127px;
      justify-content: center;
      column-gap: 2vw;
      padding: 0 3vw;
      max-width: 500px;

      img {
        border-radius: 50%;
        border: 1px solid #bebebe;
        width: 60px;
        height: 60px;
      }

      p {
        color: var(--text-color-alt);
        flex: 1;
        line-height: 20px;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    // margin-left: -30px;
    // margin-right: -30px;
    min-height: 750px;

    .copy {
      width: 100% !important;
      max-width: 80% !important;
      top: 40px;
    }

    .contacts {
      flex-direction: column;

      .item {
        column-gap: 40px;
        padding: 0 30px;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// bitcoin - section 8
//////////////////////////////////////////////////////////////////
section.crypto {
  overflow: hidden;
  background-color: #000000;
  color: #fff;

  .container {
    display: flex;
    align-items: center;
    margin: 0 10em;
    background-image: url("../assets/images/coin-web.webp");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 80%;
    min-height: 600px;
    justify-content: center;

    .coin-div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2em;
      transform: translateX(-50%);

      h3 {
        font-size: 58px;
        margin: 0;
        font-weight: 400;
      }

      .content {
        display: flex;
        gap: 40px;

        .img-coin {
          height: 150px;
          width: 150px;

          .coin1 {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        p {
          max-width: 410px;

          b {
            span {
              font-weight: 900;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    .container {
      background-size: 90%;
      background-position: bottom;
      margin: 0%;

      .coin-div {
        justify-content: center;
        text-align: center;
        margin-top: -10vh;
        margin-left: 0;
        padding: 0px 2vw;
        transform: translateX(0%);

        .content {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// members - section 9
//////////////////////////////////////////////////////////////////
section.members {
  overflow: hidden;
  background-color: #000000;
  background-image: url("../assets/images/bkg-red5.webp");
  background-size: cover;
  color: #fff;

  h1 {
    text-align: center;
  }

  .contain-members {
    overflow-y: hidden;
    padding: 0.5em 2em;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .carousel {
      display: flex;
      flex-wrap: wrap;
      gap: 2vw;
      margin: 7vh auto;
      justify-content: center;

      .card {
        padding: 0.5em 2em;
        border: 2px solid var(--text-color-alt2);
        background-color: rgba(0, 0, 0, 0.5);
        width: 465px;
        column-gap: 1em;
        display: flex;
        align-items: center;
        max-height: 130px;

        &:hover {
          outline: 5px solid var(--text-color-alt2);
        }

        p {
          a {
            text-wrap: wrap;
          }
        }

        img {
          height: 90px;
          width: 90px;
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    padding-left: 2vw;
    padding-right: 0;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;

    .contain-members {
      padding: 0px;
      cursor: grab;

      .carousel {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .card {
          min-width: 250px;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding: 0.5em 0.4em;
          max-height: none;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// free trial - section 10
//////////////////////////////////////////////////////////////////
section.free-trial {
  overflow: hidden;
  background-color: var(--section-alt-bkg);
  min-height: 90vh;

  .container {
    display: flex;

    .form-contain {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 2% 2% 4% 25%;
      margin-left: -10%;
      z-index: 100;
      width: 50%;
      min-width: 400px;

      .title {
        h1 {
          margin: 2vh 0px;
          font-size: 70px;
        }

        p {
          margin: 3vh 0px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 80%;

        input {
          border-radius: 0px;
          border: none;
          border-bottom: 1px dashed #eee;
          height: 3em;
          font-family: Questrial;
          font-size: 16px;
          padding: 0 20px;

          &:focus {
            border-bottom: 1px dashed #ff3939;
            outline: none;
            background-color: #ffeeee;
          }
        }

        button {
          border: none;
          margin: auto;
          background: var(--text-color-alt4);
          color: white;
          font-size: 16px;
          padding: 1em;
          max-width: 260px;
          font-family: Questrial;
        }
      }
    }

    .img-contain {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        position: absolute;

        &:nth-child(1) {
          z-index: 10;
          min-width: 400px;
          top: 0%;
        }

        &:nth-child(2) {
          right: 0%;
          z-index: 9;
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    .container {
      display: inline;

      .form-contain {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: -10%;
        padding: 2vh 2vh 2vh 2vw;
        min-width: 0;
        width: 100vw;

        .title {
          width: 80%;
          margin: auto;
        }

        form {
          width: 100%;
          margin: auto;
        }
      }

      .img-contain {
        display: none;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// about us - section 11
//////////////////////////////////////////////////////////////////
section.about-us {
  overflow: hidden;
  height: auto;
  background-color: #121111;
  color: #fff;
  position: relative;

  &::before,
  &::after {
    background: linear-gradient(to right, #000 0%, rgba(255, 255, 255, 0));
    content: "";
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 1;
  }

  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  .title {
    text-align: center;
    margin-bottom: 7vh;

    b {
      font-size: 1.5em;
    }
  }

  .container {
    margin-bottom: 90px;
  }

  .contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 0;

    .slide-contain {
      width: 100%;
      //height: auto;
      display: flex;

      .row-contain1,
      .row-contain2,
      .row-contain3 {
        display: flex;
        height: auto;

        &:hover {
          animation-play-state: paused;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        .card {
          padding: 1em;
          border: 2px solid var(--text-color-alt2);
          min-width: 520px;
          height: 90%;
          background-color: #000000;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          margin: 0 40px;

          div {
            column-gap: 18px;
            display: flex;
            align-items: center;

            img {
              height: 80px;
              width: 80px;
            }
          }
        }
      }

      .row-contain1 {
        animation: 25s slideleft infinite linear;
        width: calc((554.233px * 12) + (80px * 12));

        @keyframes slideleft {
          from {
            transform: translateX(-0%);
          }
          to {
            transform: translateX(calc((-554.233px * 6) + (-80px * 6)));
          }
        }
      }

      .row-contain2 {
        animation: 20s slideslow infinite linear;
        width: calc((554.233px * 8) + (80px * 8));

        @keyframes slideslow {
          from {
            transform: translateX(-0%);
          }

          to {
            transform: translateX(calc((-554.233px * 4) + (-80px * 4)));
          }
        }
      }

      .row-contain3 {
        animation: 35s slideslow2 infinite linear;
        width: calc((554.233px * 12) + (80px * 12));

        @keyframes slideslow2 {
          from {
            transform: translateX(-0%);
          }

          to {
            transform: translateX(calc((-554.233px * 6) + (-80px * 6)));
          }
        }
      }

      @media screen and (max-width: 820px) {
        .row-contain1 {
          --space-card: 40px;
          //background-color: blue;
          width: calc((330.233px * 12) + (80px * 12));
          animation: 25s slideleft infinite linear;
          @keyframes slideleft {
            from {
              transform: translateX(0);
            }

            to {
              transform: translateX(calc((-330.233px * 6) + (-80px * 6)));
            }
          }
        }

        .row-contain2 {
          //background-color: blue;
          width: calc((330.233px * 8) + (80px * 8));
          animation: 30s slideslow infinite linear;
          @keyframes slideslow {
            from {
              transform: translateX(0);
            }

            to {
              transform: translateX(calc((-330.233px * 4) + (-80px * 4)));
            }
          }
        }
        .row-contain3 {
          //background-color: blue;
          width: calc((330.233px * 12) + (80px * 12));
          animation: 30s slideslow2 infinite linear;
          @keyframes slideslow2 {
            from {
              transform: translateX(0);
            }

            to {
              transform: translateX(calc((-330.233px * 6) + (-80px * 6)));
            }
          }
        }

        .row-contain1,
        .row-contain2,
        .row-contain3 {
          .card {
            min-width: 300px;
            height: auto;

            div {
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    // padding: 0;
    .title {
      padding: 2vw;
    }
  }
}

///////////////////////////////////////////////////////////////////
// footer - section 7
//////////////////////////////////////////////////////////////////
footer {
  background-color: #000;
  color: #ffffff;
  min-height: 500px;
  position: relative;
  padding-top: 100px;

  .bkg_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120%;
    object-fit: cover;
    z-index: 2;
  }

  .tools {
    overflow-y: hidden;
    left: 0px;
    right: 0px;
    height: auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 0px 4vw 90px 4vw;
    gap: 4vw;
    flex-wrap: wrap;
    z-index: 3;

    .footer_logo {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: 340px;
        height: 100px;
      }

      ul {
        display: flex;
        justify-content: center;
        gap: 0.5em;

        li {
          width: 70px;
          height: 70px;
          background-color: #252323;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          img {
            width: 50%;
            height: 50%;
          }
        }
      }
    }

    .footer_links {
      display: flex;
      align-items: start;
      gap: 3vw;
      margin-top: 6%;

      ul {
        li:first-child {
          font-size: 25px;
          margin-bottom: 1vw;
        }

        li {
          padding: 10px 0px;
          display: block;

          &:hover {
            a {
              text-decoration: underline;
              color: #ff6464;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    overflow: hidden;
    min-height: 700px;

    //padding: 0;
    .tools {
      padding: 40px 10vw;
      //padding: 0;

      .footer_logo {
        //flex: 1 1 auto;
        //padding: 0;
        img {
          width: 90%;
          height: 100px;
        }
      }

      .footer_links {
        //padding: 0;
        flex-direction: column;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// capabilities
//////////////////////////////////////////////////////////////////
section.capabilities {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 3vw;

  b {
    color: var(--text-color-alt2);
    font-size: 20px;
  }

  h2 {
    margin-bottom: 60px;
  }

  .box {
    padding: 1vw 2vw 2vw 2vw;
    border: 3px solid var(--text-color-alt2);
    // max-width: 65%;
    margin: auto;
    margin-bottom: 30px;

    .first-p {
      max-width: 60%;
    }

    .box-child {
      margin-top: 2vw;
      display: flex;
      flex-wrap: wrap;
      gap: 2vw;

      .item {
        padding: 5px 40px;
        outline: 2px solid #2c2c2c;
        width: 300px;
        height: 300px;
      }
    }
  }

  @media screen and (max-width: 820px) {
    h2 {
      font-size: 4rem;
    }

    .box {
      max-width: 95%;

      .first-p {
        // text-align: center;
        max-width: 90%;
        margin: auto;
      }

      .box-child {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 4vw;

        .item {
          padding: 0px 20px;
          max-width: 300px;
          height: auto;
          width: auto;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// industries
//////////////////////////////////////////////////////////////////
section.industries {
  background-color: #000;
  background-image: url("../../public/assets/images/bkg-industries.jpg");
  background-repeat: no-repeat;
  min-height: 70vh;
  background-size: contain;
  background-position: right top;
  color: #fff;

  .container {
    .subtitle {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2vw 2vw;
      margin-top: 5vw;
      max-width: 660px;

      h2 {
        font-size: var(--text-h2-normal);
      }
    }

    .contain {
      margin-top: 40vh;
      margin-bottom: 20vh;
      display: flex;
      column-gap: 4%;
      row-gap: 50px;
      flex-wrap: wrap;

      .item {
        display: flex;
        gap: 1vw;
        justify-content: center;
        // align-items: center;
        max-width: 48%;
        height: auto;

        .image {
          position: relative;
          background-position: contain;
          background-size: 180px;
          min-width: 180px;
          height: 180px;
          box-shadow: inset 0px 0px 20px 10px #000;
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    background-size: 220%;
    background-position: 96% 0%;

    .container {
      .subtitle {
        max-width: 80%;
        padding: 20px;
        margin-top: 20vh;
        max-width: 100%;
      }

      .contain {
        margin-top: 9vh;
        row-gap: 80px;

        .item {
          max-width: 100%;
          flex-wrap: wrap;
          text-align: center;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// services
//////////////////////////////////////////////////////////////////
section.services {
  background-color: #000;
  background-image: url("../../public/assets/images/bkg-services.png");
  background-repeat: no-repeat;
  min-height: 70vh;
  background-size: cover;
  color: #fff;

  .container {
    h2 {
      font-size: var(--text-h2-normal);
    }
    .subtitle {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2vw 2vw;
      margin-top: 6vw;
      max-width: 660px;
    }
  }

  @media screen and (max-width: 768px) {
    min-height: 50vh;
    background-position: 49%;
    .container {
      .subtitle {
        max-width: 80%;
        padding: 20px;
        margin-top: 40px;
        max-width: 100%;
      }
    }
    > ul {
      flex-direction: column;
      row-gap: 10vw;
    }
  }
}

section.section-1,
section.section-2,
section.section-3 {
  color: #fff;
  padding: 0;
  overflow-x: hidden;

  .active {
    h3 {
      color: var(--text-color-alt3);
    }
    img {
      display: block !important;
      position: absolute;
      bottom: -50px;
      right: 40%;
      z-index: 999;
    }
  }
  > .items {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    align-items: center;
    background-color: #020212;
    outline: 4px solid #282947;
    border-bottom: 8px solid var(--btn-color-main);
    width: 88%;
    min-height: 300px;
    padding: 0vw 6vw;
    align-items: stretch;

    .item {
      padding: 3vw 1vw;
      position: relative;
      flex: 1;
      //transition: .5s all;
      cursor: pointer;
      h3 {
        font-size: 36px;
      }
      img {
        display: none;
      }
    }
  }
  .slide-contain {
    display: flex;
    transition: transform 0.5s;
    .contain {
      background-color: #020212;
      background-image: url("../../public/assets/images/img-services1.png");
      background-repeat: no-repeat;
      background-position: right;
      padding: 4vw 4vw;
      min-width: 92vw;
      max-height: 1000px;

      &:nth-child(1) {
        background-position: 70%;
      }

      h2 {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 1vw;
      }
      ul {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        row-gap: 1vw;
        h3 {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          font-weight: 900;
        }
        li {
          background-color: rgba(0, 0, 0, 0.6);
          padding: 1vw 1vw;
          outline: 3px solid #282947;
        }
      }
    }
}

  @media screen and (max-width: 768px) {
    > .items {
      flex-direction: column;
      row-gap: 0vw;
      .item {
        h3 {
          margin: 0;
        }
        img {
          left: -11vw;
          transform: rotate(-90deg);
          width: 45px;
          top: 17%;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .contain {
      background-repeat: no-repeat;
      background-position: left;
      ul {
        row-gap: 3vw;
        li {
          background-color: rgba(0, 0, 0, 0.8);
          //margin: 1vw;
          outline: 2px solid #282947;
        }
      }
    }
  }
}

section.section-2 {
  .slide-contain {
    .contain {
      background-image: url("../../public/assets/images/img-services2.png");
    }
  }
}
section.section-3 {
  // padding-top: 20vh;
  .slide-contain {
    .contain {
      background-image: url("../../public/assets/images/img-services3.png");
      background-repeat: no-repeat;
      background-position: 80%;
    }
  }
}

section.herocompliance {
  // height: 45vh;
  background-color: #000;
  background-image: url("../../public/assets/images/bkg-compliance.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 75%;
  color: #fff;

  .container.tarjetas {
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
  }

  .container {
    position: relative;
    height: 100%;

    .subtitle {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2vw 2vw;
      margin-top: 5vw;
      max-width: 660px;

      h2 {
        font-size: var(--text-h2-normal);
      }
    }

    input {
      background: transparent;
      color: #fff;
      // width: 100%;
      height: 60px;
      border: 1px solid #3c5e66;
      box-shadow: 0px 0px 6px 1px #034e5f;
      padding: 0px 20px;
      font-size: 22px;

      &::placeholder {
        font-size: 22px;
      }
    }

    .cards {
      margin-top: 40px;
      .card {
        // margin: 40px 0;
        //overflow: hidden;
        // width: 500px;
        border: 2px solid rgb(54, 52, 52);
        padding: 0 1vw;
        height: auto;

        h3 > b {
          font-family: "Roboto", sans-serif;
          color: red;
        }
      }
    }
  }

  @media screen and (max-width: 820px) {
    .container {
      .card_container {
        .card {
          //overflow: hidden;
          padding: 0 20px;
          width: auto;
          min-width: 200px;
        }
      }
    }
  }
}

section.heropartners {
  // height: 80vh;
  background-color: #000;
  background-image: url("../../public/assets/images/bkg-partners.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 30vh;
  color: #fff;
  .container {
    .subtitle {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2vw 2vw;
      margin-top: 5vw;
      max-width: 660px;
      h2 {
        font-size: var(--text-h2-normal);
      }
    }
  }
  @media screen and (max-width: 820px) {
    background-position: center;
    background-size: cover;
  }
}

section.partners1 {
  background-color: #000;
  color: #fff;
  background-image: url("../../public/assets/images/world.png");
  background-repeat: no-repeat;
  background-position: left 90%;
  background-size: 100%;
  // padding: 200px 0;
  overflow: hidden;
  position: relative;

  input {
    background: transparent;
    color: #fff;
    position: absolute;
    top: 3%;
    width: 100%;
    height: 80px;
    border: 1px solid #3c5e66;
    box-shadow: 0px 0px 6px 1px #034e5f;
    &::placeholder {
      font-size: 34px;
    }
  }

  .contain-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    // padding: var(--padding-general);
    .item {
      border: 3px solid red;
      max-width: 800px;
      min-width: 550px;
      height: 600px;
      margin: auto;
      display: flex;
      column-gap: 2em;
      padding: 20px;
      flex: 1;
      ul {
        li {
          &:nth-child(1) {
            b {
              color: #19cef7;
            }
          }
          max-width: 600px;
        }
      }
    }
  }
  .nextgen {
    position: relative;
    margin-top: 90px;
    h1 {
      position: relative;
      text-align: center;
      z-index: 10;
    }
    img {
      position: absolute;
      right: 0;
      top: -5%;
      width: 350px;
      height: 350px;
    }
    .nextgen-contain {
      padding: 150px 0 0px 0px;
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      align-items: end;
      .nextitem {
        background-color: rgba(0, 0, 0, 0.7);
        max-width: 45%;
        padding: 40px;
        > b {
          font-size: 50px;
          font-family: sans-serif;
          color: var(--btn-color-main);
        }

        h3 {
          font-family: sans-serif;
          color: var(--btn-color-main);
        }

        &:nth-child(2),
        &:nth-child(3) {
          border: 2px solid #10224c;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    background-position: center bottom;

    .contain-info {
      flex-direction: column;
      .item {
        flex-wrap: wrap;
        min-width: 200px;
        height: auto;
        z-index: 10;
      }
    }
    .nextgen {
      img {
        position: absolute;
        width: 200px;
        height: 200px;
      }
      .nextgen-contain {
        padding: 20px 0px;

        .nextitem {
          padding: 0px;
          &:nth-child(2),
          &:nth-child(3) {
            flex-direction: column;
            padding: 20px;
          }
        }
      }
    }
  }
}

section.herofriends{
  height: 80vh;
  background-color: #000;
  background-image: url('../../public/assets/images/bkg-friend.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  color: #fff;
  .container {
    h2 {
      font-size: var(--text-h2-normal);
    }
    .subtitle {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2vw 2vw;
      margin-top: 2vw;
      max-width: 660px;
    }
  }
}

section.friends1{
  background-color: #000;
  color: #fff;
  .card {
    padding: 0.5em 2em;
    border: 2px solid var(--text-color-alt2);
    //background-color: rgba(0, 0, 0, 0.5);
    min-height: 300px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      border: 5px solid var(--btn-color-main);
    }

    p {
      a {
        text-wrap: wrap;
      }
    }

    img {
      height: 90px;
      width: 90px;
    }
  }
  .perfil-contain {
    border-bottom: 2px solid #212020;
    .perfil{
      background-position: right;
      background-repeat: no-repeat;
      .information{
        padding: 4em 0;
        max-width: 600px;
        span{
          background: linear-gradient(to right, #e75454, #f10707);
          padding: 10px 40px;
          font-size: 20px;
          font-weight: 900;
          font-family: Arial, sans-serif;
          margin: 40px 0;
          display: block;
        }
        h3{
          color: var(--btn-color-main);
          text-decoration: underline;
        }
      }
      &:nth-child(1){
        background-image: url('../../public/assets/images/bkg-chris.png');
      }
      &:nth-child(2){
        background-image: url('../../public/assets/images/bkg-hems.png');
      }
      &:nth-child(3){
        background-image: url('../../public/assets/images/bkg-mixa.png');
      }
      &:nth-child(4){
        background-image: url('../../public/assets/images/bkg-gaspi.png');
      }
      &:nth-child(5){
        background-image: url('../../public/assets/images/bkg-fede.png');
      }
      &:nth-child(6){
        background-image: url('../../public/assets/images/bkg-zaballa.png');
      }
    }
  }
  @media screen and (max-width: 820px) {
    background-image:initial;
  }

  @media screen and (max-width: 768px) {

  }
}

///////////////////////////////////////////////////////////////////
// buttons
//////////////////////////////////////////////////////////////////
.btn {
  font-size: 15px;
  font-weight: 800;
  height: 45px;
  color: #ffffff;
  border-radius: 5px;
  background-color: var(--btn-color-main);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0px 23px;
  box-shadow: 0 0 14px #00000044;
  transition: all 0.2s;
  border: none;

  &.alt {
    background-color: var(--btn-color-alt);
  }

  &:hover {
    scale: 1.04;
    background-color: #cb2222;
  }

  &.alt:hover {
    background-color: #1a1a1a;
  }

  @media screen and (max-width: 768px) {
    font-size: 15px;
    height: 35px;
    padding: 0px 13px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2666666667);
  }
}
