.selectContent,
.selectItem,
.selectTrigger {
  position: relative;
  user-select: none;
  outline: none;
  font-family: Questrial;
}

.selectTrigger {
  --border-color: #d3d3d3;
  width: 100%;
  background-color: transparent;
  border: none;

  text-transform: none;
  letter-spacing: inherit;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed var(--border-color) !important;
  border-radius: 0;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: all 0.2s ease-in-out;
  position: relative;

  &[data-state="open"] {
    background-color: #fee;
    --border-color: #ff3939;

    .selectIcon {
      transition: all 0.2s ease-in-out;
      top: 28%;
      transform: scale(1.1);
    }
  }
}

.selectIcon {
  width: 16px;
  aspect-ratio: 1 / 1;
  background-image: url("/resources/chevrondown.svg");
  color: transparent;
  width: 23px;
  position: absolute;
  right: 10px;
  top: 23%;
  transition: all 0.2s ease-in-out;
}

.selectContent {
  z-index: 101;
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  width: var(--radix-popper-anchor-width);
  background: #fff;
  border: 1px solid #00000012;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.selectItem {
  display: flex;
  width: auto;
  cursor: default;
  align-items: center;
  padding-block: 0.65rem;
  padding-inline: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &[data-state="checked"] {
    background-color: #ff787836;
  }

  &:hover {
    background-color: #ff787827;
  }

  &[data-disabled] {
    pointer-events: none;
    cursor: default;
    background: #fff;
    display: none;
  }
}

.ScrollAreaRoot {
  width: 100%;
  height: 100%;
  max-height: 260px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff00;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: #c5c5c5;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #b9b9b9;
  }
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
}

.ScrollAreaScrollbar {
  width: 4px;
  padding: 5px 2px;
}

.ScrollAreaThumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
