header.header {
  background: var(--header-bg);
  position: fixed;
  width: 100%;
  padding: var(--header-padding);
  top: var(--header-top);
  z-index: 99;
  color: #ffffff;
  transition: all 0.3s linear;
  backdrop-filter: blur(var(--header-blur));
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  max-width: 1900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 3vw;

  .mobile {
    display: none;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.brand {
  display: flex;
  align-items: center;

  img {
    z-index: 1;
    height: 40px;
  }
}

.navigateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigateWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigate {
  display: flex;
  align-items: center;
  gap: 1vw;
  transition: right 0.4s;

  & li {
    & a {
      font-size: 16px;
      font-weight: 800;
      display: block;
    }

    &:hover {
      color: var(--text-color-alt2);
      box-shadow: 0 2px 0 var(--text-color-alt2);
    }
  }
}

a.active {
  color: var(--text-color-alt2);
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1vw;
}

.localeSwitcher,
.localeSwitcher button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1480px) {
  .brand {
    z-index: 20;

    img {
      height: 30px;
    }
  }
  .navigateContainer {
    --menu-translate-top: 60px;
    top: var(--menu-translate-top);
    display: block;
    position: absolute;
    width: var(--menu-width);
    height: 100dvh;
    max-height: calc(100dvh - var(--menu-translate-top));
    top: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 500ms ease-in-out;
    right: 0;
  }
  .navigate {
    flex-direction: column;
    align-items: center;
    position: relative;
    background: rgb(148, 28, 37);
    background: linear-gradient(
      0deg,
      rgba(148, 28, 37, 1) 24%,
      rgba(255, 42, 57, 1) 100%
    );
    width: 100%;
    height: 100%;
    padding-block-start: 50px;
    padding-block-end: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 0;

    li {
      width: 100%;

      text-align: center;
      border-bottom: 1px solid #ff3a47;

      a {
        padding: 20px;
      }

      &:first-child {
        border-top: 1px solid #ff3a47;
      }
      &:hover {
        color: inherit;
        box-shadow: inherit;
      }

      &:has(> a.active) {
        background-color: #521717;
      }
    }
  }
  a.active {
    color: #ffc6c6;
  }

  .menu {
    display: none;
  }
  .container {
    max-width: 90%;

    .mobile {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      button {
        z-index: 20;

        svg {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
