.ourSoftwareSection {
  background: var(--color-light-100);
  z-index: 1;
  position: relative;
  overflow: hidden;
  background-image: url("/images/bkg-red9.webp");
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 80vh; */
  background-position: top left;
  margin-top: 0px;
}

.motionContainer {
  /* padding-bottom: 30px; */
  color: var(--text-color);
  background-color: rgba(0, 0, 0, .15);
    max-width: 660px;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3.25rem;
    padding-right: 3.25rem;

  p {
    max-width: 660px;
    text-shadow: 0 0 15px #000;
  }
}

.softwareExampleContainer {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 70vh; */
  justify-content: center;
  gap: 5vw;

  img {
    /* height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain; */
    /* margin: 0 auto; */
    display: block;
  }
}

.items {
  display: flex;
  column-gap: 45px;
  padding: 20px 0px;
  justify-content: center;
  flex-direction: column;
}

.item {
  max-width: 542px;
  color: var(--text-color-alt);

  h3 {
    color: var(--text-color-alt4);
    font-size: var(--text-large);
  }
}

@media only screen and (max-width: 768px) {
  .ourSoftwareSection {
    padding-top: 150px;
    height: auto;
    background-size: 270%;
    padding-bottom: 70px;

    .softwareExampleContainer {
      flex-direction: column;
      height: auto;
    }
  }


  .items {
    flex-direction: row;
    padding: 45px 45px 0px 45px;
  }

  .item {
    &:first-child {
      text-align: end;
    }
  }
}

