.cryptoSection {
  --title-text-size: var(--text-h2-normal);
  --text-max-w: 600px;
  --container-margin-r: 0;
  --banner-img-display: none;
  --padding-inline: 2.2vw;
  --text-al: center;
  --min-bg-container-size: 60cqw;

  overflow: hidden;
  background: #111111;
  color: #fff;
  padding: 0px;
  container-type: inline-size;
  box-shadow: 0px -5px 19px 4px #18181894;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px 0px;
  position: relative;
  max-width: 1900px;
  margin-inline: auto;

  &::after {
    content: " ";
    background-image: url("/images/btc-bkg.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(var(--color-black-200) 70%, transparent 100%);
    z-index: 1;
    display: var(--banner-img-display);
    max-width: 1900px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: min(var(--min-bg-container-size), 66rem) min(60cqh, 30rem);
    position: absolute;
    max-height: 385px;
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2em;
  margin-right: var(--container-margin-r);
  position: relative;
  z-index: 2;

  h2 {
    font-size: var(--title-text-size);
    margin: 0;
    font-weight: 400;
    max-width: 475px;
  }
}

.containerContent {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  display: flex;
  justify-content: center;
  padding-inline: var(--padding-inline);

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    h2 {
      grid-area: 1 / 1 / 2 / 5;
    }

    img {
      grid-area: 2 / 1 / 3 / 3;
    }
    p {
      grid-area: 2 / 3 / 3 / 5;
    }
  }

  p {
    max-width: var(--text-max-w);
    margin: 0;
    line-height: 30px;
    text-align: var(--text-al);

    b {
      span {
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
}

.bitCoinImg {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
}

@media only screen and (min-width: 1080px) {
  .cryptoSection {
    --h2-text-size: var(--text-h1-normal);
    --text-max-w: 410px;
    --container-margin-r: 40%;
    --banner-img-display: block;
    --padding-inline: 0;
    --text-al: left;
  }
  .containerContent div {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    display: grid;
    row-gap: 1.5rem;
    column-gap: 2rem;

    h2 {
      grid-area: 1 / 1 / 2 / 5;
    }

    img {
      grid-area: 2 / 1 / 3 / 3;
    }
    p {
      grid-area: 2 / 3 / 3 / 5;
    }
  }
}

@media only screen and (min-width: 1480px) {
  .cryptoSection {
    --min-bg-container-size: 58cqw;
  }
}
